body {
    background-image: linear-gradient(
        rgb(136, 61, 61),
        rgb(58, 15, 15)
    );
    height: 100vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infos-musica-like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;
}

#container-musica {
    max-height: fit-content;
}

#container-botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
}

button i:hover {
    color: rgb(167, 68, 68);
}

.botao {
    font-size: 1.7em;
    cursor: pointer;
}

.botao-navegacao {
    font-size: 3em;
}

.botao-maior {
    font-size: 3.5em;
}

#capa-album {
    width: 400px;
    height: 350px;
}

#nome-album {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4em;
}

#nome-musica {
    font-size: 1.5em;
    font-weight: bold;
}

.cor-clara {
    color: rgb(139, 153, 156);
}

#progresso-container {
    padding-top: 1em;
    cursor: pointer;
}

#barra-progresso {
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
}

#progresso-atual {
    --progresso: 0%;
    background-color: rgb(212, 71, 71);
    height: inherit;
    width: var(--progresso);
    border-radius: inherit;
}

.botao-ativado {
    color: rgb(167, 23, 4);
}

#tempo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    margin-top: 0.3em;
}